


<%#=  @health.services %>

<header class="center row page-header">
  <h1><span class='title'>Application Cluster Status</span></h1>
</header>


<div class="center row">
  <h2 class="center">Health Status:
    <% if @health.ok == true %>
      <span class='text-success'><%= @health.ok %></span></h2>
    <% else %>
      <span class='text-danger'><%= @health.ok %></span></h2>
    <% end %>
</div>

<div class="row">
  <div class="card-group">

    <div class="col-md-3 card">
    <div class="card-block">
      <h4 class="center card-header">Services</h4>
      <table class="table-sm">
        <thead>
          <tr>
            <th class='center'>Service</th>
            <th class='center'>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @health.services.to_h.each do |name, status| %>
            <tr>
              <td><%= name %>:</td>
              <% if status == 'ok' || status == true %>
                <td class='text-success center'><%= status %></td>
              <% else %>
                <td class='text-danger center'><%= status %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>

    <div class="col-md-4 card">
    <div class="card-block">
      <h4 class="center card-header">Database</h4>
        <table class="table-sm">
          <thead>
            <tr>
              <th class='center'>Service</th>
              <th class='center'>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @health.database.to_h.each do |name, status| %>
              <tr>
                <% if name.to_s == 'ok' %>
                  <td><%= name %>:</td>
                  <td class='center'><%= status %></td>
                <% elsif name.to_s == 'connect' %>
                  <tr><th>Connect</th></tr>
                  <% status.to_h.each do |key, value| %>
                    <tr>
                      <td><%= key %>:</td>
                      <td class='center'><%= value %></td>
                    </tr>
                  <% end %>
                <% elsif name.to_s == 'free_space' %>
                  <tr><th>Free Space</th></tr>
                  <% status.to_h.each do |key, value| %>
                    <tr>
                      <td><%= "#{key}-inodes" %>:</td>
                      <td class='center'><%= value.inodes %></td>
                    </tr>
                    <tr>
                      <td><%= "#{key}-kbytes" %>:</td>
                      <td class='center'><%= value.kbytes %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    </div>

    <div class="col-md-5 card">
    <div class="card-block">
      <h4 class="center card-header">Archive Replication</h4>
        <table class="table-sm">
          <thead>
            <tr>
              <th class='center'>Service</th>
              <th class='center'>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @health.database.archive_replication_status.to_h.each do |name, status| %>
              <% if name.to_s == 'pg_stat_replication' %>
                <% status.each do |metric| %>
                  <% metric.to_h.each do |key, value| %>
                    <tr>
                      <td><%= key %>:</td>
                      <td class='center'><%= value %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% else %>
                <tr>
                  <td><%= name %>:</td>
                  <td class="center"><%= status %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
    </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12 card">
  <div class="card-block">
    <h4 class="center card-header">Replication Database</h4>
    <%= render 'repstat_table' %>
  </div>
  </div>
</div>




