<header class="center row page-header">
  <h1><span class='title'>Application Cluster Status</span></h1>
</header>

<div class="center row">
  <h2 class="center">Health Status:
    <% if @health.ok == true %>
      <span class='text-success'><%= @health.ok %></span></h2>
    <% else %>
      <span class='text-danger'><%= @health.ok %></span></h2>
    <% end %>
</div>

<div class="row">
  <div class="card-group">

    <div class="col-md-3 card">
      <div class="card-block">
        <h4 class="center card-header">Services</h4>
        <%= render 'services_table' %>
      </div>
    </div>

    <div class="col-md-4 card">
      <div class="card-block">
        <h4 class="center card-header">Database</h4>
        <%= render 'database_table' %>
      </div>
    </div>

    <div class="col-md-5 card">
      <div class="card-block">
        <h4 class="center card-header">Archive Replication</h4>
        <%= render 'archive_replication_table' %>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12 card">
    <div class="card-block">
      <h4 class="center card-header">Replication Database</h4>
      <%= render 'repstat_table' %>
    </div>
  </div>
</div>




