


<%#=  raw ap(@health['database']) %>

<div class="center row">
  <h1><span class='title'>Application Cluster Status</span></h1>
</div>


<div class="center row">
  <p class="center">Health Status:
    <% if @health['ok'] == true %>
      <span class='text-success'><%= @health['ok'] %></span></p>
    <% else %>
      <span class='text-danger'><%= @health['ok'] %></span></p>
    <% end %>
</div>

<div class="row card-group">
  <div class="col-md-3 card">
    <h4 class="center">Services Status </h4>
    <table class="table-sm">
      <thead>
        <tr>
          <th class='center'>Service</th>
          <th class='center'>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @health['services'].each do |name, status| %>
          <tr>
            <td><%= name %>:</td>
            <% if status == 'ok' || status == true %>
              <td class='text-success center'><%= status %></td>
            <% else %>
              <td class='text-danger center'><%= status %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="col-md-4 card">
    <h4 class="center">Database Status</h4>
      <table class="table-sm">
        <thead>
          <tr>
            <th class='center'>Service</th>
            <th class='center'>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @health['database'].each do |name, status| %>
            <tr>
              <% if name != 'replication_status' && name != 'archive_replication_status' %>
                <td><%= name %>:</td>
                <td><%= status %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>

  <div class="col-md-5 card">
    <h4 class="center">Archive Replication Status</h4>
      <table class="table-sm">
        <thead>
          <tr>
            <th class='center'>Service</th>
            <th class='center'>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @health['database']['archive_replication_status'].each do |name, status| %>
            <% if name == 'pg_stat_replication' %>
              <% status.each do |metric| %>
                <% metric.each do |key, value| %>
                  <tr>
                    <td><%= key %>:</td>
                    <td class='center'><%= value %></td>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr>
                <td><%= name %>:</td>
                <td class="center"><%= status %></td>
              </tr>
            <% end %>

          <% end %>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 card">
    <h4 class="center">Replication Database Status</h4>
    <%= render 'repstat_table' %>
  </div>
</div>



