


<%#=  raw ap(@health['database']) %>

<div class="center">
  <h1 class='col-md-12'><span class='title'>Health Status Board</span></h1>
</div>


<div class="center row">
  <p class="center">Health Status: <span><%= @health['ok'] %></span></p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Services Status </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Service</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @health['services'].each do |name, status| %>
          <tr>
            <td><%= name %>:</td>
            <td><%= status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="col-md-6">
    <h2>General Database Status</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Service</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @health['database'].each do |name, status| %>
            <tr>
              <% if name != 'replication_status' %>
                <td><%= name %>:</td>
                <td><%= status %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Replication Database Status</h2>
    <%= render 'repstat_table' %>
  </div>
</div>



